* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}


.section-content h1 {
  margin: 50px;
  padding: 0px;
}

.section-contact {
  padding: 10px 20px;
}

.form-container {
  max-width: 1024px;
  margin: 0 auto;
}

.form-content {
  width: 100%;
  background: #f3f3f3;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 13px 37px rgb(49, 49, 49);
}

.form-content h4{
  font-size: 28px;
  margin: 0 0 20px;
  text-align: center;
  font-family:"verdana";
}


.title {
  font-family: "SugarPie";
  text-align: center;
  padding: 50px  0;
  margin: 0;
  font-size: 30px;
}

a {
  text-decoration: none;
}

.ingreso {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
}

.input-container {
  width: 40%;
  max-width: 300px;
}

.ingreso:focus{
  border-color: rgb(173, 3, 173);
  outline: none;
}

textarea {
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
  color: #0a0a0a;
  font-style:normal;

}

textarea:focus{
  border-color: rgb(173, 3, 173);
  outline: none;
}

.form-content .botons {
  width: 40%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background-color: #2371c4;
  color: #ffffff;
  cursor: pointer;
}

.botons:hover {
  background: #92c5fc;
}
.botons:focus  {
  background: #2371c4;
  color: #ffffff;
}

