.header__container {
  background-color: white;
  padding: 10px 0;
}

.header__content {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

@media(min-width: 1200px) {
  .header__content {
    height: 50px;
  }
}

.header__content__right {
  display: flex;
  align-items: center;
}

.header__title {
  font-family: "SugarPie";
  font-size: 30px;
  margin: 10px 0;
}

.header__btn {
  display: block;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
}

.header__input{
  display: block;
  padding: 4px;
}
