@font-face {
  font-family: "Sugarpie";
  src: url(C:\Users\usuario\Code\html-basico\fonts);
}

body {
  margin: 0;
  background-color: #92c5fc;
}

* {
  box-sizing: border-box;
}

.section-content {
  padding: 10px 20px;
}

.section-content h1 {
  font-family:"SugarPie";
  font-size: 30px;
  margin: 10px 0;
}

.title {
  text-align: center;
  margin: 0;
  padding: 50px 0;
}

.form-container {
  max-width: 1024px;
  margin: 0 auto;
}

.form-content {
  width: 100%;
  background: #f3f3f3;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 13px 37px rgb(49, 49, 49);
}

.form-title {
  font-size: 28px;
  margin: 0 0 20px;
  text-align: center;
  font-family: "SugarPie";
}

.input-container {
  width: 40%;
  max-width: 300px;
}

.input-box {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 2px solid black;
}

.input-box:focus {
  border-color: rgb(173, 3, 173);
  outline: none;
}

.actions {
  display: flex;
  margin: 0 -5px;
}

.action {
  width: 50%;
  padding: 0 5px 10px;
}

.btn {
  min-width: 150px;
  max-width: 175px;
  padding: 12px;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn--primary {
  border-color: #1b67a7;
  background-color: #2371c4;
  color: white;
}

.btn--primary:hover, .btn--primary:focus {
  background: #3a95f5;
}

.btn--primary:active {
  background: #1b67a7;
}

.btn--secondary {
  border-color: #cce5ff;
  background-color: #cce5ff;
  color: black;
}

.btn--secondary:hover, .btn--secondary:focus {
  background: #ebf5ff;
}

.btn--secondary:active {
  background: #b6d7fa;
}
